body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Serve Helvetica Neue, with Helvetica fallbacks to Arial */
	font-size: 0.75em;
	font-weight: thin; /* Better supported than 'lighter' attribute */
	color: #555; /* Lighter on the eyes than #000 Black */
	line-height: 1.714285714;
}

.clear {
	clear:both;
}
a {
	outline: none;
	color: #23282d;
}
a:hover {
	color: #d54e21;
}

h1, h2, h3, h4, h5, h6 {
	margin: 24px 0;
	margin: 1.714285714rem 0;
	line-height: 1.714285714;
}

h1 {
	font-size: 21px;
	font-size: 1.5rem;
	line-height: 1.5;
}

h2 {
	font-size: 18px;
	font-size: 1.285714286rem;
	line-height: 1.6;
}

h3 {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.846153846;
}
h3.dld a {
	font-size:16px;
	font-size:1.14285714285714rem;
}

h3.dld {
	text-align:center;
}

h4 {
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.846153846;
}

h5 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}

h6 {
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.846153846;
}

p,
.wp-caption-dd {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}

ol,
ul {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}

ul {
	list-style: disc outside;
}

ol {
	list-style: decimal outside;
}

li {
	margin: 0 0 0 36px;
	margin: 0 0 0 2.571428571rem;
}

blockquote {
	font-family: 'Shadows Into Light', cursive;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	padding: 24px;
	padding: 1.714285714rem;
	font-size: 18px;
	font-size: 1.285714286rem;
	border-left: solid 3px #23282d;
	margin-left: 0;
}

blockquote p:last-child {
	margin-bottom: 0;
}

abbr,
dfn,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}

img.alignleft {
	margin: 12px 24px 12px 0;
	margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}

img.alignright {
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}

img.aligncenter {
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}

embed,
iframe,
object,
video {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

dl {
	margin: 0 24px;
	margin: 0 1.714285714rem;
}

dt {
	font-weight: bold;
	line-height: 1.714285714;
}

dd {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
}

table caption {
	font-size: 16px;
	font-size: 1.142857143rem;
	margin: 24px 0;
	margin: 1.714285714rem 0;
}

td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

th {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	text-transform: uppercase;
	color: #636363;
}

/* Buttons */
h3.dld a, .racc a{
	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	text-decoration: none;
}


button {
	cursor: pointer;
}

button[disabled] {
    cursor: default;
}

button:hover,
h3.dld a:hover, .racc a:hover {
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}

button:active,
h3.dld a:active, .racc a:active {
	color: #757575;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border: none;
}

/* Responsive images */
img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

img {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.wp-caption,
.wp-caption-dd {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}

.wp-caption .wp-caption-text,
.wp-caption-dd, .wp-caption-dd a,
.gallery-caption,
.entry-caption, .wp-caption-text a {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #757575;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}

.twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tablematiere {
	background:#F1F1F1;
}

.tablematiere table, .tablematiere table tr td {
	border:none;
}
.tablematiere table tr td{
	padding:0;
}
.tablematiere h4 {
	margin:0;
}
.tablematiere h4 a {
	text-decoration:none;
	color:#757575;
	border-bottom:dashed 1px #C6C6C6;
}

.tablematiere ul li a {
	color:#757575;
}

.tablematiere h4 a:hover{
	border-bottom:dashed 1px #444;
}
