
.thaim-hero-slide-container {
	margin: auto;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.thaim-hero-slide {
	margin: auto;
	width: 100%;
	font-size: 14px;
	font-size: 1rem;
	padding: 0 20px;
}

.thaim-hero-slide .post-thumbnail {
	padding: 10px 0;
	max-height: 235px;
	overflow: hidden;
}

.thaim-hero-slide .fivecol img {
	max-width:100%;
	border-radius: 0px;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}

.thaim-hero-slide .fivecol, .thaim-hero-slide .sevencol, .thaim-hero-slide .twelvecol {
	height: 250px;
}
.thaim-hero-slide .fivecol {
	width: 100%;
	position: relative;
}

.thaim-hero-slide .sevencol, .thaim-hero-slide .twelvecol {
	padding-top: 20px;
}

.thaim-hero-slide .sevencol,
.thaim-hero-slide .sevencol .thaim-slide-article,
.thaim-hero-slide .sevencol h2,
.thaim-hero-slide .sevencol p,
.thaim-hero-slide .twelvecol p {
	display: none;
}

.thaim-slide-article {
	position:absolute;
}

.thaim-hero-slide .sevencol .thaim-slide-article h2,
.thaim-hero-slide .twelvecol .thaim-slide-article h2 {
	margin-top:20px;
	font-size: 18px;
	font-size: 1.285714286rem;
	line-height: 2;
	word-wrap: break-word;
}

.thaim-hero-slide .thaim-slide-article a {
	text-decoration: none;
	color: #FFF;
}

.thaim-hero-slide .sevencol .thaim-slide-article p.desc,
.thaim-hero-slide .twelvecol .thaim-slide-article p.desc,
.thaim-hero-slide p.readmore {
	padding-top: 10px;
	word-wrap: break-word;
}

.thaim-slide-nav {
	text-align: center;
}

.thaim-slide-nav span {
	display: inline-block;
	cursor: pointer;
	color: #464646;
	margin: 0 6px;
	font-size: 4em;
}

.thaim-slide-nav .cycle-pager-active {
	color: #FFF;
}

.thaim-hero-slide .thaim-slide-article a:hover,
.thaim-slide-nav span:hover {
	color: #d54e21;
}

.cycle-overlay {
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 600;
	background: #FFF;
	color: #000;
	padding: 15px;
	opacity: .8;
}

.cycle-overlay h2 a {
	text-decoration: none;
	color:#000;
	font-size:80%;
	text-align: right;
}

@media only screen and (min-width: 600px) {
	.thaim-hero-slide .sevencol,
	.thaim-hero-slide .sevencol .thaim-slide-article,
	.thaim-hero-slide .sevencol h2,
	.thaim-hero-slide .sevencol p.readmore,
	.thaim-hero-slide .twelvecol p.readmore {
		display: block;
	}

	.thaim-hero-slide .fivecol {
		width: auto;
	}

	.cycle-overlay {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {
	.thaim-hero-slide .sevencol p.desc,
	.thaim-hero-slide .twelvecol p.desc {
		display: block;
	}
}
